<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Questionnaire</span>
          </a>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/home">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/product_list">Опросы</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/parsing">Вопросы</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/parsing_submenu">Результаты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/parsing_submenu">Статистика</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/faqs">FAQs</a>
          </nav>
    </div>
</div>