{% load static %}
<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Questionnaire</span>
          </a>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main_page' %}">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'polls_page' %}">Опросы</a>
            {% comment %} <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'questions_page' %}">Вопросы</a> {% endcomment %}
            {% comment %} <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main_page' %}">Результаты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main_page' %}">Статистика</a> {% endcomment %}
            {% comment %}<a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'question_details' question.pk %}">Вопрос</a> {% endcomment %}
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="admin/">ADMIN_PANEL</a>
            {% comment %} <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main_page' %}">FAQs</a> {% endcomment %}
          </nav>
    </div>
</div>
