{% extends 'survey/base.html' %}
{% block title %}
  Опросы
{% endblock %} 
{% block content %}
<h4>Детали опроса</h4>
<table class="table table-hover">
    <thead>
      <tr>
        <th>id опроса</th>
        <th>id вопроса</th>
        <th>заголовок вопроса</th>
        <th>текст вопроса</th>
        <th>первый вариант ответа</th>
        <th>второй вариант ответа</th>
        <th>третий вариант ответа</th>
        <th>четвертый вариант ответа</th>
        <th>Ответивших</th>
        <th>Процент ответивших</th>
        <th>создан</th>
        <th>изменен</th>
      </tr>
      </thead>
      <tbody>
        {% for question in question_data %}
          <tr>
            <td>{{question.survey_id}}</td>
            <td>{{question.question_id}}</td>
            <td>{{question.title}}</td>
            <td>{{question.question_text}}</td>
            <td>{{question.answer_option_1}}</td>
            <td>{{question.answer_option_2}}</td>
            <td>{{question.answer_option_3}}</td>
            <td>{{question.answer_option_4}}</td>
            <td>{{question.answered_quantity}}</td>
            <td>{{question.answered_rating}}</td>
            <td>{{question.created_on}}</td>
            <td>{{question.redacted}}</td>
          </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %} 